
<ul class="notes">

    <li class="note" ng-repeat="card in $ctrl.notes">

        <div class="profile">
            <img alt="profile image" src="{{ card.user.avatar }}" />
        </div>

        <div class="card">

            <span class="speechArrow"><span class="overlay"></span></span>

            <ul class="details">
                <li class="name">{{ card.user.name }}</li>
                <li class="date">{{ card.created_at | yopaDate }}</li>
            </ul>

            <div class="content">
                {{ card.content }}
            </div>

        </div>

    </li>

</ul>
