
<div class="container">

    <div class="pageHeading">
        <h1>New note</h1>
    </div>

    <div class="form createForm">

        <form name="noteForm" ng-submit="submit(noteForm.$valid)" novalidate>

            <p class="alert alert-danger" ng-show="error">{{error}}</p>

            <div class="form-group">
                <label>Title: <span class="red">*</span></label>
                <input type="text" ng-required="true" name="title" class="form-control" ng-model="model.title">
            </div>

            <div class="form-group">
                <label>Note: <span class="red">*</span></label>
                <textarea class="form-control"ng-required="true" ng-model="model.content"></textarea>
            </div>

            <ul class="form-options">
                <li class="left">
                    <button type="submit" ui-sref="overview" class="btn btn-secondary">
                        Cancel
                    </button>
                </li>
                <li class="right">
                    <button type="submit" ng-disabled="noteForm.$invalid" class="btn btn-primary">
                        Add note
                        <span class="arrow"></span>
                    </button>
                </li>
            </ul>

        </form>

    </div>

</div>