
<div class="container">

    <div class="pageHeading">
        <h1>Notes overview</h1>
        <a ng-click="$parent.logout()">Logout</a>
    </div>

    <div class="notesOverviewTable">

        <table class="table">
            <thead>
            <tr>
                <td>Created by</td>
                <td>Title</td>
                <td>Date</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-hide="!loading">
                    <td colspan="3" class="loading">
                        <img alt="loading" class="loader" src="/images/loading.gif" />
                    </td>
                </tr>
                <tr ng-if="!loading" ng-repeat="note in notes">
                    <td>{{ note.user.name }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.created_at | yopaDate:"dd/MM/yyyy HH:mm" }}</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">

                    <button type="submit"
                            class="btn btn-primary"
                            ui-sref="create">
                                Create a new note
                        <span class="arrow"></span>
                    </button>

                </td>
            </tr>
            </tfoot>
        </table>

    </div>

</div>