
<div class="container readPage">

    <div class="pageHeading">
        <h1 ng-if="!loading">{{ note.title }}</h1>
    </div>

    <div class="form additionalNoteForm" ng-if="additionIsActive" ng-if="note">

        <form name="noteForm" ng-submit="submit(noteForm.$valid)" novalidate>

            <div class="form-group">
                <textarea class="form-control" ng-required="true" ng-model="model.content"></textarea>
            </div>

            <ul class="form-options withBorder">
                <li class="left">
                    <button type="submit" ng-click="closeAdditional()" class="btn btn-secondary">
                        Cancel
                    </button>
                </li>
                <li class="right">

                    <button type="submit" ng-disabled="noteForm.$invalid || processing" class="btn btn-primary">
                        Add note
                        <span class="arrow"></span>
                    </button>

                </li>
                <li class="right">
                    <img alt="loading" ng-if="processing" class="processingLoad" src="/images/loading.gif" />
                </li>
            </ul>

        </form>

    </div>

    <ul class="form-options withBorder" ng-hide="additionIsActive" ng-if="!loading">
        <li class="left">
            <button type="submit" ui-sref="overview({useCache:true})" class="btn btn-secondary">
                <span class="arrow"></span>
                Back to overview
            </button>
        </li>
        <li class="right">

            <button type="submit" ng-click="openAdditional()" class="btn btn-primary">
                Add additional note
                <span class="arrow"></span>
            </button>
        </li>
    </ul>

    <div class="loader" ng-hide="!loading">
        <img alt="loading" class="loader" src="/images/loading.gif" />
    </div>

    <cards note="note" ng-if="note"></cards>

</div>